* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 700px;
    padding-top: 10px;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.radio-options input[type="radio"] {
    margin-right: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 1.1rem;
    transition: background-color 0.2s;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #0056b3;
    border-color: #0056b3;
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#scoreChart {
    max-width: 800px;
    height: 400px;
}
